[toolchain]
anchor_version = "0.30.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
migi_trust = "3aNa219G1VwZq2gC8NRL9NRGXCbrhnhqivHDpmZS8TeA"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"
